@{
    ViewBag.Title = "AddWatermark";
}

<form asp-action="AddWatermark" asp-controller="Home" method="post" enctype="multipart/form-data">
    <input type="file" name="image">
    <button type="submit">kaydet</button>
</form>
